<% if session[:current_user] %>
  <p>
    Welcome to the TV User Database.
    A place for users to add their favorite shows
    and keep track of what they like. In the site, you can search through
    The Movie Database's Website(themoviedb.org),
    and add as many TV shows as you desire!
  </p>

<% else %>
  <p>
    Welcome to the TV User Database.
    A place for users to add their favorite shows
    and keep track of what they like. In the site, you can search through
    The Movie Database's Website(themoviedb.org),
    and add as many TV shows as you desire!
  </p>

  <h2>Login</h2>

  <%= form_tag sessions_path do %>
    <%= label_tag :username %>
    <%= text_field_tag :username %>
    <br>

    <%= label_tag :password %>
    <%= password_field_tag :password %>
    <br>

    <%= submit_tag "Log In" %>
  <% end %>
<% end %>
