<% @actor.errors.full_messages do |msg| %>
  <li><%= msg %></li>
<% end %>

<%= form_for @actor do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :character %>
  <%= f.text_field :character %>

  <%= f.label :profile_path %>
  <%= f.text_field :profile_path %>

  <%= f.submit %>

<% end %>
