<%= link_to "Add Favorite Show", new_favorite_path %>
<%= link_to "Edit Favorite Show", edit_favorite_path %>
<h3><%= link_to @favorite.show.title, show_path %></h3>
Comment: <%= @favorite.comment %><br>
Rating: <%= @favorite.rating %><br>
