<h2>TV Show</h2>

<h2>Title: <%= title = @results.name %></h2>

<% poster_path = @results.poster_path %>
<%= image_url = image_tag "#{@base_url}/#{@poster_sizes[3]}#{poster_path}" %>

<p>
  <strong>First Air Date:</strong> <%= first_air_date = @results.first_air_date %>

</p>

<p>
  <strong>Plot:</strong> <%= plot = @results.overview %>
</p>

<p>
  <strong>Genre:</strong> <%= genre = @results.genres[0]["name"] %>
</p>

<p>
  <strong>Network:</strong> <%= network = @results.networks[0]["name"] %>
</p>

<%= button_to "Add TV Show", new_show_path %>
